{% extends 'base.html' %}
{% block content %}
	<div class="d-flex justify-content-between">
		<h2>Ваши дела</h2>
		<a href="/create" class="btn btn-warning">Новое дело</a>
	</div>
	<div class="row mt-4">
		{% for inv in investigations %}
			<div class="col-md-4">
				<div class="card bg-secondary mb-3">
					<div class="card-body">
						<h5>{{ inv.title }}</h5>
						<a href="/investigation/{{ inv.id }}" class="btn btn-dark">Открыть</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}