{% extends 'base.html' %}
{% block content %}
	<div class="text-center mt-5">
		<h1 class="display-3 text-warning fw-bold">Фото-Детектив</h1>
		<p class="lead mt-4">ИИ расследует преступления по фотографиям</p>
		<div class="mt-4 d-flex justify-content-center gap-3">
			<a href="/login" class="btn btn-warning btn-lg">Войти</a>
			<a href="/register" class="btn btn-outline-light btn-lg">Регистрация</a>
			<a href="/leaderboard" class="btn btn-success btn-lg">Лидерборд</a>
		</div>
	</div>
{% endblock %}